* {
  background-repeat: no-repeat;
}
FlexboxLayout {
  height: 100%;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;

}
#space1 {
  height: 200;
}

button, #or {
  font-size: 20;
  font-weight: bold;
  height: 55;
  margin-left: 40;
  margin-right: 40;
}
#1 {
  background-color: rgb(104, 203, 210);
}
#2 {
  background-color: rgb(132, 220, 160);
}
#or {
  color: red;
  align-self: center;
}
