<Label class="form-label" text="Password"></Label>
<TextField
  secure="true"
  [(ngModel)]="password"
  required
  (textChange)="isPasswordValid()"
  (input)="isPasswordValid()"
  maxLength="15"
></TextField>
<StackLayout
  *ngIf="passwordFieldDirty && !isPassValid"
  class="password-validation-message"
>
  <Label text="Password must contain 8-15 characters, including:"></Label>
  <Label text="At least 1 uppercase letter,"></Label>
  <Label text="1 lowercase letter,"></Label>
  <Label text="1 number,"></Label>
  <Label text="and 1 special character"></Label>
</StackLayout>

<Label *ngIf="isPassValid" text="✔" class="password-validation-icon"></Label>

<Label class="form-label" text="Confirm Password"></Label>
<TextField
  class="form-input"
  secure="true"
  [(ngModel)]="confirmedPassword"
  (textChange)="onConfirmPasswordInput()"
  (input)=""
  maxLength="15"
  required
></TextField>
<Label
  *ngIf="!passwordsMatch"
  class="warnLabel"
  text="oops! That's no match"
></Label>
