
  <Label class="form-label" text="Password"></Label>
  <TextField
    secure="true"
    [(ngModel)]="password"
    required
    (textChange)="isPasswordValid()"
    maxLength="15"
    (class)="
      ({
        'password-input-invalid': passwordFieldDirty && !isPassValid,
        'password-input-valid': passwordFieldDirty && isPassValid
      })
    "
  ></TextField>
  <!-- <Label
    *ngIf="passwordFieldDirty && !isPassValid"
    text="Password must contain 8-15 characters, including: At least 1 upper case letter, 1 lower case letter, 1 number, and 1 special character"

    >
  </Label> -->
  <Label *ngIf="isPassValid" text="✔" class="password-validation-icon"> </Label>
  <Label class="form-label" text="Confirm Password"></Label>
  <TextField
    class="form-input"
    secure="true"
    [(ngModel)]="confirmedPassword"
    (textChange)="onConfirmPasswordInput()"
    ngModel
    maxLength="15"
    required
  ></TextField>
  <Label
    *ngIf="!passwordsMatch"
    class="warnLabel"
    text="oops! That's no match"
  ></Label>
