<action-bar title="Cleaner Sign Up" [hasMenu]="false"></action-bar>
<quote></quote>
<ScrollView height="100%">
<StackLayout justifyContent="space-between"  class="form">
  <StackLayout class="input-field">
    <Label text="First Name:" class="label" text="First Name"></Label>
    <TextField class="input" hint="John"> </TextField> </StackLayout
  ><StackLayout>
    <Label text="Last Name:" class="label"></Label>
    <TextField class="input" hint="Doe"> </TextField>
  </StackLayout>
  <StackLayout>
    <Label class="label" text="Address:"></Label>
    <TextField class="input" hint="Ex. 1 Main st. New York," returnKeyType="done">
    </TextField>
    <DropDown name="Gender"></DropDown>
  </StackLayout>
  <Button class="btn" text="Next"></Button>
</StackLayout>
</ScrollView>
