<ActionBar title="Cleaner Sign Up"></ActionBar>
<quote></quote>
<ScrollView class="scroll-view">
  <StackLayout>
    <Label class="form-label" text="Name" [ngClass]=""></Label>
    <TextField
      class="form-input"
      [(ngModel="binding"
      )]
      returnKeyType="next"
      autocapitalizationType="words"
      required
      (blur)="onSignUpEnabled()"
    ></TextField>
    <create-password></create-password>

    <Label class="form-label" text="Address"></Label>
    <TextField
      height="75"
      hint="1234 Ave. A, 1234, NY"
      id="address"
      [text]="name"
      returnKeyType="done"
      (textChange)="onAddressInputChange($event)"
      class="address-input"
      [(ngModel)]="address"
      required
    ></TextField>
    <ListView
      *ngIf="isListViewVisible"
      height="150"
      [items]="placesArray"
      (itemTap)="onItemTap($event)"
      separatorColor="orangered"
      rowHeight="50"
      class="list-group"
      id="listView"
    >
      <ng-template let-item="item">
        <StackLayout class="list-group-item">
          <Label [text]="item" textWrap="true" class="title"></Label>
        </StackLayout>
      </ng-template>
    </ListView>
    <!-- <AddressPredictionsList></AddressPredictionsList> -->
    <!-- <Label class="form-label" text="ID"></Label>
        <TextField class="form-input" [(ngModel)]="id" required></TextField> -->
    <Label class="form-label" text="Email Address"></Label>
    <TextField
      class="form-input"
      [(ngModel)]="email"
      type="email"
      required
      hint="Email Address"
      autocapitalizationType="none"
      required
    >
    </TextField>

    <ListPicker
      [items]="genderOptions"
      [(ngModel)]="selectedOption"
    ></ListPicker>
    <Label class="form-label" text="Work Permit"></Label>
    <Button
      class="form-button"
      text="Select File"
      (tap)="onSelectFile()"
    ></Button>
    <Label
      *ngIf="selectedFile"
      class="form-file-name"
      [text]="selectedFile.name"
    ></Label>
    <Label class="form-label" text="Proof of ID"></Label>
    <Button
      class="form-button"
      text="Upload Proof of ID"
      (tap)="onSelectFile()"
    ></Button>
    <Label
      *ngIf="proofOfIdFile"
      class="form-file-name"
      text="{{ proofOfIdFile.name }}"
    ></Label>

    <Label class="form-label" text="Photo"></Label>
    <Button
      class="form-button"
      text="Upload A Photo of Yourself"
      (tap)="onSelectFile()"
    ></Button>

    <Button
      class="signup-button"
      text="Sign Up"
      (tap)="signUp()"
      [isEnabled]="isSignUpEnabled"
      [ngStyle]="{ 'background-color': isSignUpEnabled ? 'blue' : 'gray' }"
    ></Button>
  </StackLayout>
</ScrollView>
